@{
    ViewData["Title"] = $"Add New File";
}

<h1 class="title">Add New File</h1>

<form name="add_file" method="post" enctype="multipart/form-data" action="/add">    
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="format">Format</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div class="select is-fullwidth">
            <select name="format" id="format">
                <option value="JSON">JSON</option>
                <option value="CSV">CSV</option>
            </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label" for="format">File</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
        <div class="control">
            <div class="file">    
                <label class="file-label" for="file">
                <input class="file-input" type="file" name="file" id="file">
                <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>        
                </label>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
</form>