@{
    ViewData["Title"] = $"Deleted {ViewData["Id"]}";
}

<h1 class="title">@($"Delete {ViewData["Id"]}")</h1>

<p>
    <strong>Id:</strong>&nbsp;&nbsp;@ViewData["Id"]<br>
    <strong>It's done. No backsies.</strong>
</p>
<br>
<p><a href="/">Return to Home</a></p>
